<template>
  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">To-Do List</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a class.bind="isActive('') ? 'nav-link active' : 'nav-link'" click.delegate="changeLink($event.target)" route-href="route:Home">Home</a></li>
        <li class="nav-item"><a class.bind="isActive('addTask') ? 'nav-link active' : 'nav-link'" click.delegate="changeLink($event.target)" route-href="route:Add New Task">New Task</a></li>
        <li class="nav-item"><a class.bind="isActive('about') ? 'nav-link active' : 'nav-link'" click.delegate="changeLink($event.target)" route-href="route:About">About</a></li>
      </ul>
    </header>
  </div>
</template>
