<template>
  <div class="container">
    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">About the demo</h4>
      <p>This demo is built for research and practice on the Aurelia. Its use Aurelia as a frontend framework, Bootstrap as a style toolkit, Node.JS and Express as a backend framework, and MongoDB as a database.</p>
      <hr>
      <p class="mb-0">The links of following behind</p>
    </div>
    
    <div class="list-group">
      <a href="https://github.com/pioneer1541/Aurelia-TodoList" class="list-group-item list-group-item-action">
        Project Github
      </a>
      <a href="https://aurelia.io/docs/overview" class="list-group-item list-group-item-action"
        >Aurelia Guides</a
      >
      <a href="https://codepen.io/web-tiki/pen/qEGvMN" class="list-group-item list-group-item-action"
        >Progress Bar Code</a
      >
      <a href="https://getbootstrap.com/docs/5.1/examples/" class="list-group-item list-group-item-action"
        >Bootstrap</a
      >
      <a href="https://expressjs.com/en/guide/routing.html" class="list-group-item list-group-item-action"
        >Express</a
      >
      <a href="https://mongoosejs.com/docs/guide.html" class="list-group-item list-group-item-action"
        >Mongoose</a
      >
    </div>
  </div>
</template>
